layout {
    background-color "transparent"

    focus-ring {
        active-color   "#00466c"
        inactive-color "#717880"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#00466c"
        inactive-color "#717880"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00466c"
        inactive-color "#717880"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#00466c80"
    }
}