layout {
    background-color "transparent"

    focus-ring {
        active-color   "#765a20"
        inactive-color "#7f7668"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#765a20"
        inactive-color "#7f7668"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#765a20"
        inactive-color "#7f7668"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#765a2080"
    }
}

recent-windows {
    highlight {
        active-color   "#efc984"
        urgent-color   "#ba1a1a"
    }
}
