layout {
    background-color "transparent"

    focus-ring {
        active-color   "#10677c"
        inactive-color "#6f797c"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#10677c"
        inactive-color "#6f797c"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#10677c"
        inactive-color "#6f797c"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#10677c80"
    }
}

recent-windows {
    highlight {
        active-color   "#7fc6dd"
        urgent-color   "#ba1a1a"
    }
}
