environment{
    ANTHROPIC_BASE_URL                  "http://localhost:8317"
    ANTHROPIC_AUTH_TOKEN                "sk-steve-neko"
    ANTHROPIC_DEFAULT_OPUS_MODEL        "glm-4.6"
    ANTHROPIC_DEFAULT_SONNET_MODEL      "glm-4.6"
    ANTHROPIC_DEFAULT_HAIKU_MODEL       "glm-4.6"
    CLAUDE_CODE_SUBAGENT_MODEL		    "glm-4.6"
}
