include "claude.kdl"
include "gemini.kdl"

//include "provider/lab.kdl"
//include "provider/local.kdl"
//include "provider/mi.kdl"
//include "provider/fovt.kdl"
//include "provider/wmc.kdl"
//include "provider/glm.kdl"
//include "provider/freeduck.kdl"
include "provider/cifang.kdl"
