prefer-no-csd
include "niri/env.kdl"
include "niri/execs.kdl"
include "niri/overview.kdl"
//include "niri/monitors.kdl"
include "niri/input.kdl"
include "niri/layout.kdl"
include "niri/rules.kdl"
include "niri/animations.kdl"
include "niri/gestures.kdl"
include "niri/binds.kdl"
include "niri/next.kdl"

include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
include "dms/wpblur.kdl"