//输入管理
input {
    focus-follows-mouse
    workspace-auto-back-and-forth
	keyboard {
		xkb {
			layout "us"
		}
		repeat-delay 250
		repeat-rate 35
	}
	touchpad {
		natural-scroll
		click-method "clickfinger"
		scroll-factor 0.5
	}
	mouse {
		accel-speed 0.0
		accel-profile "flat"
	}
    touch {
        map-to-output "HDMI-A-1"
    }
    //warp-mouse-to-focus mode="center-x-always"
    //warp-mouse-to-focus mode="center-xy"
}