
//负责屏幕大小
output "Tianma Microelectronics Ltd. 0x2031 Unknown" {
	position x=0 y=0
	scale 1.5
    variable-refresh-rate on-demand=true
//	transform "90"
}
output "DP-1" {
	mode "1920x1080@60"
	position x=1920 y=0
	scale 1.0
}
output "DP-4" {
	mode "1920x1080@60"
	position x=0 y=0
	scale 1.0
}
// output "HDMI-A-1" {
//	mode "1920x1080@60"
//	scale 1.5
//        variable-refresh-rate on-demand=true
//}
output "IPS, Inc. (Intellectual Property Solutions, Inc.) HDMI Unknown"{
	mode "1536x2048@60"
	scale 1.5
	variable-refresh-rate on-demand=true
	//transform "270"
}
